<div id="<%= dom_id membership %>">
  <p>
    <strong>Start:</strong>
    <%= membership.start %>
  </p>

  <p>
    <strong>Term months:</strong>
    <%= membership.term_months %>
  </p>

  <p>
    <strong>Ephemeris:</strong>
    <%= membership.ephemeris %>
  </p>

  <p>
    <strong>New:</strong>
    <%= membership.new %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= membership.kind %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= membership.person&.id %>
  </p>

</div>
