<div class="row">
  <div class="col-12">
    <h1>Sign Up With SJAA</h1>
    <p>
      If you would like to become a member of SJAA, please fill out the form below.
      This is for new members only.  If you are a returning member, please <%= link_to 'login', login_path %> or 
      <%= link_to 'reset your password', new_password_reset_path %>
      to renew your membership, or make changes to your information.
    </p>
  </div>
</div>
<%= form_with(url: signup_request_path, local: true) do |form| %>
  <div class="row">
    <%= form.hidden_field :signup, value: true %>
    <div class="col-md-6 mt-2">
      <%= form.label :first_name, "First Name", class: 'form-label' %>
      <%= form.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="col-md-6 mt-2">
      <%= form.label :last_name, "Last Name", class: 'form-label' %>
      <%= form.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="col-md-6 mt-2">
      <%= form.label :email, class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>
    <div class="col-md-6 mt-2">
      <%= form.label :password, class: 'form-label' %>
      <%= form.password_field :password, class: 'form-control' %>
    </div>
    <div class="col-12 mt-2">
    <%= form.submit 'Sign Up', class: 'btn btn-success mt-2' %>
    </div>
  </div>
<% end %>