<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">Email</span>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="input-group">
    <span class="input-group-text" id="basic-addon2">Password</span>
    <%= form.password_field :password, class: 'form-control' %>
  </div>
  <%= render partial: 'layouts/combobox', locals: {field: :permissions, objects: admin.permissions, name: :name, value: :id, form_field_id: 'admin[permission_attributes]', select_values: Permission.all, allow_new: false} %>

  <div class="mt-4">
    <%= form.submit admin.id ? 'Update' : 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>
