<div id="<%=id%>" class="row mt-2">
  <h3>Contact <%= i ? i+1 : 'New'%></h3>
  <%= hidden_field_tag 'person[contact_attributes][][id]', contact.id %>
  <%= hidden_field_tag 'person[contact_attributes][][person_id]', person&.id %>
  <div class="col-md-6 mt-2">
    <%= label_tag :contact_address, 'Address', class: 'form-label' %>
    <%= text_field_tag 'person[contact_attributes][][address]', contact.address, class: 'form-control' %>
  </div>
  <div class="col-md-6 mt-2">
    <%= label_tag :contact_zipcode, 'Zipcode', class: 'form-label' %>
    <%= text_field_tag 'person[contact_attributes][][zipcode]', contact.zipcode, class: 'form-control' %>
  </div>
  <div class="col-md-6 mt-2">
    <%= label_tag :contact_city_id, 'City', class: 'form-label' %>
    <%= combobox_tag 'person[contact_attributes][][city_id]', City.all, value: contact.city_id, name_when_new: 'person[contact_attributes][][city_name]' %>
  </div>
  <div class="col-md-6 mt-2">
    <%= label_tag :contact_state_id, 'State', class: 'form-label' %>
    <%= combobox_tag 'person[contact_attributes][][state_id]', State.all, value: contact.state_id %>
  </div>
  <div class="col-md-6 mt-2">
    <%= label_tag :contact_phone, 'Phone', class: 'form-label' %>
    <%= text_field_tag 'person[contact_attributes][][phone]', contact.phone, class: 'form-control' %>
  </div>
  <div class="col-md-6 mt-2">
    <%= label_tag :contact_email, 'Email', class: 'form-label' %>
    <%= text_field_tag 'person[contact_attributes][][email]', contact.email, class: 'form-control' %>
  </div>
  <div class="col-md-6 mt-2">
    <%= label_tag :contact_primary, 'Primary', class: 'form-label' %><br/>
    <%= combobox_tag 'person[contact_attributes][][primary]', [{display: 'Yes', value: 'true'}, {display: 'No', value: 'false'}], value: contact.primary ? 'true' : 'false' %>
  </div>
  <div class="col-md-6 mt-2">
    <%= label_tag :contact_primary, 'Delete', class: 'form-label' %><br/>
    <button type="button" data-form-id-param="<%=id%>" data-action="form#removeField" class="btn btn-danger">Remove</button>
  </div>
</div>