<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :astrobin_id, style: "display: block" %>
    <%= form.number_field :astrobin_id %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes %>
  </div>

  <div>
    <%= form.label :membership_id, style: "display: block" %>
    <%= form.number_field :membership_id %>
  </div>

  <div>
    <%= form.label :discord_id, style: "display: block" %>
    <%= form.text_field :discord_id %>
  </div>

  <div>
    <%= form.label :referral_id, style: "display: block" %>
    <%= form.number_field :referral_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
