<%= form_with(model: person, data: {controller: 'form'}) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>
      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :astrobin_id, style: "display: block" %>
    <%= form.number_field :astrobin_id %>
  </div>
  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes %>
  </div>
  <div>
    <%= form.label :discord_id, style: "display: block" %>
    <%= form.text_field :discord_id %>
  </div>
  <div>
    <%= form.label :referral_id, style: "display: block" %>
    <%= form.combobox :referral_id, Referral.all %>
  </div>
  <div data-form-target="fields">
    <% person.interests.each_with_index do |interest, i| %>
      <% id = "interest_#{interest.id}"%>
      <div id="<%=id%>">
        <%= combobox_tag "person[interests_attributes][][id]",  Interest.all.map{|i| {display: i.name&.titleize, value: i.id}}, name_when_new: "person[interests_attributes][][name]", value: interest.id %>
        <button type="button" data-form-id-param="<%=id%>" data-action="form#removeField">Remove Interest</button>
      </div>
    <% end %>
  </div>
  <template data-form-target="template">
    <div>
      <%= combobox_tag "person[interests_attributes][][id]",  Interest.all.map{|i| {display: i.name&.titleize, value: i.id}}, name_when_new: "person[interests_attributes][][name]" %>
    </div>
  </template>
  <div>
    <button type="button" data-action="form#addField">Add Interest</button>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
