<%= turbo_frame_tag 'people' do %>
  <div class="row" data-controller="clipboard column-visibility bulk-actions" data-bulk-actions-csrf-token-value="<%= form_authenticity_token %>">
    <div class="col-12 mt-2">
      <%= pagy_bootstrap_nav(@pagy, anchor_string: 'data-turbo-frame="_self"').html_safe %>
    </div>
    <div class="col-12 clearfix mb-2" data-clipboard-target="status">
    </div>
    <div class="col-12 mb-3">
      <div class="accordion" id="columnVisibilityAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseColumnVisibility" aria-expanded="false" aria-controls="collapseColumnVisibility">
              <strong>Show/Hide Columns</strong>
            </button>
          </h2>
          <div id="collapseColumnVisibility" class="accordion-collapse collapse" data-bs-parent="#columnVisibilityAccordion">
            <div class="accordion-body">
              <div class="row">
                <div class="col-12">
                  <p class="mb-2"><small class="text-muted">Toggle columns to customize your view. Your preferences will be saved.</small></p>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_phone', 'phone', false, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'phone', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_phone', 'Phone', class: 'form-check-label' %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_city', 'city', true, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'city', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_city', 'City', class: 'form-check-label' %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_state', 'state', false, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'state', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_state', 'State', class: 'form-check-label' %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_ephemeris', 'ephemeris', true, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'ephemeris', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_ephemeris', 'Ephemeris', class: 'form-check-label' %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_interests', 'interests', true, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'interests', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_interests', 'Interests', class: 'form-check-label' %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_groups', 'groups', false, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'groups', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_groups', 'Groups', class: 'form-check-label' %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_skills', 'skills', false, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'skills', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_skills', 'Skills', class: 'form-check-label' %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_astrobin', 'astrobin', false, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'astrobin', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_astrobin', 'Astrobin', class: 'form-check-label' %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <%= check_box_tag 'column_telescopius', 'telescopius', false, class: 'form-check-input', data: { column_visibility_target: 'checkbox', column: 'telescopius', action: 'change->column-visibility#toggle' } %>
                    <%= label_tag 'column_telescopius', 'Telescopius', class: 'form-check-label' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="accordion" id="bulkActionsAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBulkActions" aria-expanded="false" aria-controls="collapseBulkActions">
              <strong>Bulk Actions</strong>
              <span class="badge bg-primary ms-2" data-bulk-actions-target="selectedCount">0</span>
              <small class="text-muted ms-2">selected</small>
            </button>
          </h2>
          <div id="collapseBulkActions" class="accordion-collapse collapse" data-bs-parent="#bulkActionsAccordion">
            <div class="accordion-body">
              <div class="row">
                <div class="col-12 mb-3">
                  <p class="mb-2">Add the selected people to the following groups:</p>
                </div>
                <div class="col-md-8 col-sm-12 mb-3">
                  <label for="bulk_group_selector" class="form-label">Select Groups:</label>
                  <select id="bulk_group_selector" name="group_ids[]" multiple class="form-select" size="6" data-bulk-actions-target="groupSelector">
                    <% Group.order(:name).each do |group| %>
                      <option value="<%= group.id %>"><%= group.name %></option>
                    <% end %>
                  </select>
                  <small class="text-muted">Hold Ctrl (Cmd on Mac) to select multiple groups</small>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                  <label class="form-label d-block">&nbsp;</label>
                  <button type="button" class="btn btn-primary w-100" data-bulk-actions-target="submitButton" data-action="click->bulk-actions#submit" disabled>
                    Add to Groups
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-2">
      <%= button_tag 'Copy Link', class: 'btn btn-secondary d-inline-block', style: 'min-width: 100px; margin-right: 20px;',
          data: {action: 'clipboard#copy', clipboard_text_param: people_url(@query_params)}  %>
      <%= link_to "Download CSV (SJAA DB)", people_path(@query_params&.merge({format: :csv})), class: 'btn btn-success d-inline-block', style: 'margin-right: 20px;', data: {turbo: false} %>
      <%= link_to "New Person", new_person_path, class: 'btn btn-primary d-inline-block', data: {turbo: false} %>
    </div>
    <div class="col-12">
      <table class="table table-hover table-striped table-sm">
        <% @totals&.each do |type, val| %>
          <tr>
            <td><strong><%=type&.to_s&.titleize%></strong></td>
            <td><%=val%><td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-sm" data-column-visibility-target="table">
      <tr>
        <th style="width: 30px;">
          <input type="checkbox" class="form-check-input" data-bulk-actions-target="selectAll" data-action="change->bulk-actions#toggleAll" title="Select all">
        </th>
        <th>Status</th>
        <th>Name</th>
        <th>Email</th>
        <th data-column="phone" class="column-hidden">Phone</th>
        <th data-column="city">City</th>
        <th data-column="state" class="column-hidden">State</th>
        <th data-column="ephemeris">Ephemeris</th>
        <th data-column="interests">Interests</th>
        <th data-column="groups" class="column-hidden">Groups</th>
        <th data-column="skills" class="column-hidden">Skills</th>
        <th data-column="astrobin" class="column-hidden">Astrobin</th>
        <th data-column="telescopius" class="column-hidden">Telescopius</th>
        <!--<th>Donations</th>-->
      </tr>
      <tbody class="table-group-divider">
        <% @people.each do |person| %>
          <% active_membership = person.membership_map(@active_memberships, true)&.last %>
          <% active = active_membership ? 'ACTIVE' : 'INACTIVE' %>
          <tr>
            <td>
              <input type="checkbox" class="form-check-input" value="<%= person.id %>" data-bulk-actions-target="checkbox" data-action="change->bulk-actions#toggleOne">
            </td>
            <td class="<%=active.downcase%>"><%=active%></td>
            <td><%=link_to "#{person.first_name} #{person.last_name}", person_path(person.id), data: {turbo: false} %></td>
            <td><%=person.contacts.map(&:email).join('<br/>').html_safe%></td>
            <td data-column="phone" class="column-hidden"><%=person.contacts.map(&:phone).join('<br/>').html_safe%></td>
            <td data-column="city"><%=person.contacts.map{|con| con.city&.name}.join('<br/>').html_safe%></td>
            <td data-column="state" class="column-hidden"><%=person.contacts.map{|con| con.state&.short_name}.join('<br/>').html_safe%></td>
            <td data-column="ephemeris"><%=active_membership&.ephemeris ? 'PRINT' : ''%></td>
            <td data-column="interests"><%=person.interests.map{|i| i.name&.titleize}.join(', ')%></td>
            <td data-column="groups" class="column-hidden"><%=person.groups.map(&:name).join(', ')%></td>
            <td data-column="skills" class="column-hidden"><%=person.skills.map(&:name).join(', ')%></td>
            <td data-column="astrobin" class="column-hidden"><%=person.astrobin&.username%></td>
            <td data-column="telescopius" class="column-hidden"><%=person.telescopius&.username%></td>
            <!--<td><%=person.donations.map{|d| dollar_format(d.value)}.join(', ')%></td>-->
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
<% end %>