<div class="row">
  <div class="col-12">
    <h1>People</h1>
  </div>
  <%= form_with url: people_search_path, data: {controller: "search-form", search_form_target: "form", turbo_frame: 'people'} do |f| %>

  <div class="input-group mb-3">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <%= f.text_field :search, placeholder: 'Search Terms', value: @query_params[:search], class: 'form-control', data: { action: "input->search-form#search" } %>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>More Filters</strong>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-xs-12 mb-3">
              <div class="input-group">
                <%= f.text_field :first_name, placeholder: 'First Name', value: @query_params[:first_name], class: 'form-control', data: { action: "input->search-form#search" } %>
                <%= f.text_field :last_name, placeholder: 'Last Name', value: @query_params[:last_name], class: 'form-control', data: { action: "input->search-form#search" } %>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 mb-3">
              <div class="input-group">
                <%= f.text_field :email, placeholder: 'Email', value: @query_params[:email], class: 'form-control', data: { action: "input->search-form#search" } %>
                <%= f.text_field :phone, placeholder: 'Phone', value: @query_params[:phone], class: 'form-control', data: { action: "input->search-form#search" } %>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 mb-3">
              <div class="input-group">
                <%= f.text_field :city, placeholder: 'City', value: @query_params[:city], class: 'form-control', data: { action: "input->search-form#search" } %>
                <%= f.text_field :state, placeholder: 'State', value: @query_params[:state], class: 'form-control', data: { action: "input->search-form#search" } %>
              </div>
            </div>

            <!-- Interests -->
            <div class="col-md-6 col-xs-12 mb-2" data-controller="form">
              <div class="row">
                <div class="col-12">
                  <%= label_tag 'interests', 'Interests', class: 'form-label' %>
                  <div data-form-target="fields mt-2 mb-2">
                  </div>
                  <template data-form-target="template">
                    <span id="NEWID" class="d-inline-block mt-2" style="margin-right: 0.5em;">
                      <%= hidden_field_tag 'interests[]', 'REPLACEVALUE' %>
                      <a data-form-id-param="NEWID" data-action="search-form#search form#removeField" class="btn btn-secondary">REPLACENAME</a>
                    </span>
                  </template>
                </div>
                <div class="col-12 mt-2">
                  <%= combobox_tag "interests[]", Interest.all.map{|r| {display: r.name.titleize, value: r.id}}, placeholder: 'Select interests', data: { form_baseid_param: 'interest', form_target: 'source', action: "hw-combobox:selection->search-form#search hw-combobox:selection->form#addField" } %>
                  <span style="margin-right: 20px;">
                    <%= radio_button_tag 'interest_operation', 'and', class: 'form-check-input', checked: @query_params[:interest_operation] == 'and', data: {action: "search-form#search"} %>
                    <%= label_tag 'interest_operation_and', 'And', class: 'form-check-label' %>
                  </span>
                  <span style="margin-right: 20px;">
                    <%= radio_button_tag 'interest_operation', 'or', class: 'form-check-input', checked: @query_params[:interest_operation] != 'and', data: {action: "search-form#search"} %>
                    <%= label_tag 'interest_operation_or', 'Or', class: 'form-check-label' %>
                  </span>
                </div>
              </div>
            </div>

            <!-- Groups -->
            <div class="col-md-6 col-xs-12 mb-2" data-controller="form">
              <div class="row">
                <div class="col-12">
                  <%= label_tag 'Groups', 'Groups', class: 'form-label' %>
                  <div data-form-target="fields mt-2 mb-2">
                  </div>
                  <template data-form-target="template">
                    <span id="NEWID" class="d-inline-block mt-2" style="margin-right: 0.5em;">
                      <%= hidden_field_tag 'groups[]', 'REPLACEVALUE' %>
                      <a data-form-id-param="NEWID" data-action="search-form#search form#removeField" class="btn btn-secondary">REPLACENAME</a>
                    </span>
                  </template>
                </div>
                <div class="col-12 mt-2">
                  <%= combobox_tag "groups[]", Group.all.map{|r| {display: r.name, value: r.id}}, placeholder: 'Select Groups', data: { form_baseid_param: 'group', form_target: 'source', action: "hw-combobox:selection->search-form#search hw-combobox:selection->form#addField" } %>
                  <span style="margin-right: 20px;">
                    <%= radio_button_tag 'group_operation', 'and', class: 'form-check-input', checked: @query_params[:group_operation] == 'and', data: {action: "search-form#search"} %>
                    <%= label_tag 'group_operation_and', 'And', class: 'form-check-label' %>
                  </span>
                  <span style="margin-right: 20px;">
                    <%= radio_button_tag 'group_operation', 'or', class: 'form-check-input', checked: @query_params[:group_operation] != 'and', data: {action: "search-form#search"} %>
                    <%= label_tag 'group_operation_or', 'Or', class: 'form-check-label' %>
                  </span>
                </div>
              </div>
            </div>

            <!-- Skills -->
            <div class="col-md-6 col-xs-12 mb-2" data-controller="form">
              <div class="row">
                <div class="col-12">
                  <%= label_tag 'Skills', 'Skills', class: 'form-label' %>
                  <div data-form-target="fields mt-2 mb-2">
                  </div>
                  <template data-form-target="template">
                    <span id="NEWID" class="d-inline-block mt-2" style="margin-right: 0.5em;">
                      <%= hidden_field_tag 'skills[]', 'REPLACEVALUE' %>
                      <a data-form-id-param="NEWID" data-action="search-form#search form#removeField" class="btn btn-secondary">REPLACENAME</a>
                    </span>
                  </template>
                </div>
                <div class="col-12 mt-2">
                  <%= combobox_tag "skills[]", Skill.all.order(:name).map{|s| {display: s.name, value: s.id}}, placeholder: 'Select Skills', data: { form_baseid_param: 'skill', form_target: 'source', action: "hw-combobox:selection->search-form#search hw-combobox:selection->form#addField" } %>
                  <span style="margin-right: 20px;">
                    <%= radio_button_tag 'skill_operation', 'and', class: 'form-check-input', checked: @query_params[:skill_operation] == 'and', data: {action: "search-form#search"} %>
                    <%= label_tag 'skill_operation_and', 'And', class: 'form-check-label' %>
                  </span>
                  <span style="margin-right: 20px;">
                    <%= radio_button_tag 'skill_operation', 'or', class: 'form-check-input', checked: @query_params[:skill_operation] != 'and', data: {action: "search-form#search"} %>
                    <%= label_tag 'skill_operation_or', 'Or', class: 'form-check-label' %>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
              <%= f.label :ephemeris, 'Ephemeris Subscription', class: 'form-label' %>
              <%= f.select :ephemeris, options_for_select([ ['DIGITAL', 'digital'], ['PRINTED', 'printed'] ], selected: @query_params[:ephemeris] || 'either'), {}, {class: 'form-control', data: { action: "change->search-form#search" } } %>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
              <%= f.label :active, 'Active Members', class: 'form-label' %>
              <div class="col-12">
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'active', 'yes', class: 'form-check-input', checked: @query_params[:active] == 'yes', data: {action: "search-form#search"} %>
                  <%= label_tag 'active_yes', 'Yes', class: 'form-check-label' %>
                </span>
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'active', 'no', class: 'form-check-input', checked: @query_params[:active] == 'no', data: {action: "search-form#search"} %>
                  <%= label_tag 'active_no', 'No', class: 'form-check-label' %>
                </span>
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'active', 'either', class: 'form-check-input', checked: !(['yes', 'no'].include?(@query_params[:active])) , data: {action: "search-form#search"} %>
                  <%= label_tag 'active_either', 'Either', class: 'form-check-label' %>
                </span>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
              <%= f.label :volunteer, 'Volunteer', class: 'form-label' %>
              <div class="col-12">
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'volunteer', 'yes', class: 'form-check-input', checked: @query_params[:volunteer] == 'yes', data: {action: "search-form#search"} %>
                  <%= label_tag 'volunteer_yes', 'Yes', class: 'form-check-label' %>
                </span>
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'volunteer', 'no', class: 'form-check-input', checked: @query_params[:volunteer] == 'no', data: {action: "search-form#search"} %>
                  <%= label_tag 'volunteer_no', 'No', class: 'form-check-label' %>
                </span>
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'volunteer', 'either', class: 'form-check-input', checked: !(['yes', 'no'].include?(@query_params[:volunteer])) , data: {action: "search-form#search"} %>
                  <%= label_tag 'volunteer_either', 'Either', class: 'form-check-label' %>
                </span>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 mb-3">
              <%= f.label :mentor, 'Mentor', class: 'form-label' %>
              <div class="col-12">
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'mentor', 'yes', class: 'form-check-input', checked: @query_params[:mentor] == 'yes', data: {action: "search-form#search"} %>
                  <%= label_tag 'mentor_yes', 'Yes', class: 'form-check-label' %>
                </span>
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'mentor', 'no', class: 'form-check-input', checked: @query_params[:mentor] == 'no', data: {action: "search-form#search"} %>
                  <%= label_tag 'mentor_no', 'No', class: 'form-check-label' %>
                </span>
                <span style="margin-right: 20px;">
                  <%= radio_button_tag 'mentor', 'either', class: 'form-check-input', checked: !(['yes', 'no'].include?(@query_params[:mentor])) , data: {action: "search-form#search"} %>
                  <%= label_tag 'mentor_either', 'Either', class: 'form-check-label' %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
  <div id="people" class="col-12 mt-2">
    <%= render partial: 'index' %>
  </div>
</div>