<div class="row">
  <div class="col-12">
    <h1>People</h1>
  </div>
  <div class="col-12">
    <%= form_with url: people_search_path, data: {turbo_frame: 'people'} do |f| %>
      <%= f.text_field :first_name, placeholder: 'First Name' %>
      <%= f.submit 'Search' %>
    <% end %>
  </div>
  <div id="people" class="col-12">
      <%= render partial: 'index' %>
  </div>
  <%= link_to "New person", new_person_path %>
</div>