<% membership = Membership.new %>
<%= form_for membership, url: membership_order_path, data: {controller: 'invoice'} do |f| %>
  <div class="row">
    <div class="col-12">
      <h1>Membership Payment For <%= @person.name %></h1>
        <div class="alert alert-danger">
          We are currently investigating an issue with PayPal payments.  Thank you for your patience while we work to correct it.
        </div>
      <% if @person.is_active?%>
        <div class="alert alert-warning">
          Your membership is currently active, and will end on <strong><%= date_format @person.latest_membership&.end %></strong>.
          If you would like to renew your membership, please proceed below.
        </div>
      <% end %>
      <p>Thank you for your interest in being part of the SJAA! Please know that your new or renewing membership will be provisional, until the board of directors votes to formally approve your membership at the next board meeting, per the club's by-laws. All benefits of membership, at the discretion of the board, are in effect during the provisional membership period.</p>
      <p>Your membership will be for a one year period, ending one year after the end of the month you join.  The start and end dates are listed in the invoice below.</p>
    </div>
    <!-- hidden fields -->
    <%= f.hidden_field :person_id, value: @person.id %>
    <%= f.hidden_field :term_months, value: SjaaMembers::DEFAULT_MEMBERSHIP_TERM %>
    <!-- Extra Donation -->
    <div class="col-12">
      <%= label_tag 'membership[donation_amount]', 'Extra Donation', class: 'form-label' %>
      <p>
        <small>The SJAA is a non-profit organization dedicated to bringing astronomy to the general public. Member dues and other donations are used to enhance our programs, such as the telescope loans.
          If you would like to make an additional donation to help support the SJAA, please enter the amount below.  Thank you!</small>
      </p>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">$</span>
        <%= number_field_tag 'membership[donation_amount]', 0, class: 'form-control', style: 'max-width: 120px', data: {invoice_target: 'field', updateid: 'donation_fee', action: 'input->invoice#calculate_total'} %>
      </div>
    </div>
    <!-- Ephemeris -->
    <div class="col-12 mt-4">
      <%= label_tag 'membership[ephemeris_amount]', 'Ephemeris', class: 'form-label mb-0' %>
      <p>
        <small>The digital edition of The Ephemeris is free to everyone.  If you would like a printed version for $10/yr, please indicate this below.</small>
      </p>
      <%= select_tag 'membership[ephemeris_amount]', options_for_select([ ['Digital +$0', 0], ["Printed +$#{SjaaMembers::EPHEMERIS_FEE}", SjaaMembers::EPHEMERIS_FEE] ]), {class: 'form-select', style: 'max-width: 200px', data: {invoice_target: 'field', updateid: 'ephemeris_fee', action: 'input->invoice#calculate_total'}} %>
    </div>
    <div class="col-12 mt-4 table-responsive">
      <h2>Invoice</h2>
      <table class="table" style="max-width: 400px;">
        <% membership = Membership.new(start: @person.next_membership_start_date, term_months: SjaaMembers::DEFAULT_MEMBERSHIP_TERM) %>
        <% membership.update_end_date %>
        <tr>
          <td><strong>Start Date</strong></td>
          <td><strong><%= date_format membership.start %></strong></td>
        </tr>
        <tr style="border-bottom: thick; border-style: double;">
          <td><strong>End Date</strong></td>
          <td><strong><%= date_format membership.end %></strong></td>
        </tr>
        <tr>
          <td>Membership Fee</td>
          <td>$<span data-invoice-target="constant"><%=SjaaMembers::YEARLY_MEMBERSHIP_RATE%></span></td>
        </tr>
        <tr>
          <td>Extra Donation</td>
          <td>$<span id="donation_fee">0</span></td>
        </tr>
        <tr>
          <td>Ephemeris Fee</td>
          <td>$<span id="ephemeris_fee">0</span></td>
        </tr>
        <tr style="border-top: thick; border-style: double;">
          <td><strong>Total</strong></td>
          <td><strong>$<span data-invoice-target="total"><%=SjaaMembers::YEARLY_MEMBERSHIP_RATE%></span></strong></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 col-sm-8 mt-4 mb-4" style="max-width: 400px;">
      <div id="paypal-button-container" data-paypal-mode="<%=Rails.application.config.paypal_mode%>"></div>
    </div>
    <!-- Bootstrap Modal for PayPal Success -->
    <div class="modal fade" id="paypalSuccessModal" tabindex="-1" aria-labelledby="paypalSuccessModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Payment Successful!</h5>
          </div>
          <div class="modal-body">
            <p>Your payment was successful! You will be redirected shortly.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap Modal for PayPal Errors -->
    <div class="modal fade" id="paypalErrorModal" tabindex="-1" aria-labelledby="paypalErrorModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Payment Error</h5>
          </div>
          <div class="modal-body">
            <p id="paypalErrors">An error occurred while processing your payment. Please try again or contact support.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>