<div class="row">
  <div class="col-12" id="<%= dom_id @person %>">
    <h1>
      <%= @person.first_name %>
      <%= @person.last_name %>
      <span class="h4 text-secondary">
      </span>
    </h1>
    <%= link_to "Edit Personal Information", edit_person_path(@person), class: 'btn btn-primary d-inline-block' %>
    <% active_membership = @person.active_membership.first %>
    <% if active_membership %>
      <% expiration = (active_membership.start + active_membership.term_months.months).end_of_month %>
      <%= link_to "Membership Active", membership_renewal_path(id: @person.id), class: 'btn btn-success d-inline-block' %>
      Expires <%= date_format(expiration) %>
    <% else %>
      <%= link_to "Renew Membership", membership_renewal_path(id: @person.id), class: 'btn btn-warning d-inline-block' %>
    <% end %>
    <div class="table-responsive mt-4">
      <table class="table table-striped table-hover">
        <tr>
          <td><strong>Interests</strong></td>
          <td>
            <%= @person.interests.map{|i| i.name}.join(', ') %></td>
        </tr>
        <tr>
          <td><strong>Roles</strong></td>
          <td><%= @person.roles.map{|r| link_to(r.name, role_path(r))}.join('
              , ').html_safe %></td>
        </tr>
        <tr>
          <td><strong>Notes</strong></td>
          <td><%= @person.notes %></td>
        </tr>
        <tr>
          <td><strong>Discord</strong></td>
          <td><%= @person.discord_id %></td>
        </tr>
        <tr>
          <td><strong>Referral</strong></td>
          <td><%= @person.referral&.name %></td>
        </tr>
        <tr>
          <td><strong>Astrobin</strong></td>
          <td>
            <% if @person.astrobin %>
              <%= link_to(@person.astrobin&.username, "https://www.astrobin.com/users/#{@person.astrobin&.username}", target: :_blank) %> <%= @person.astrobin&.latest_image ? "(#{@person.astrobin&.latest_image})" : '' %></td>
          <% end %>
        </tr>
        <% @person.contacts.each_with_index do |contact, i| %>
          <tr>
            <td colspan=2><strong>Contact <%=i+1%></strong><%= contact.primary ? ' (Primary)' : '' %>
            </td>
          </tr>
          <tr>
            <td><strong>Address</strong></td>
            <td>
              <%=contact.address%>, <%=contact.city&.name%>, <%=contact.state&.short_name%>
              <%=contact.zipcode%>
            </td>
          </tr>
          <tr>
            <td><strong>Phone</strong></td>
            <td>
              <%=contact.phone%>
            </td>
          </tr>
          <tr>
            <td><strong>Email</strong></td>
            <td>
              <%=contact.email%>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 table-responsive">
      <h2>Memberships</h2>
      <table class="table table-striped table-hover">
        <tr>
          <th>Duration</th>
          <th>Kind</th>
          <th>Donation</th>
          <th>Ephemeris</th>
        </tr>
        <% @person.memberships.each do |membership| %>
          <tr>
            <td>
              <% if membership.term_months.nil? %>
                LIFETIME
              <% else %>
                <%= date_format(membership.start) %> to <%= date_format(membership.end) %>
                (<%= membership.term_months %> months)
              <% end %>
            </td>
            <td>
              <%= membership.kind&.name %>
            </td>
            <td>
              <%= dollar_format(membership.donation_amount) %>
            </td>
            <td>
              <%= ephemeris_format membership.ephemeris %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-12 col-md-6 table-responsive">
      <h2>Donations</h2>
      <%= render partial: 'donations/index' , locals: {donations: @person.donations} %>
    </div>
  </div>
  <% if @user.is_a?(Admin) %>
    <div class="col-12">
      <%= button_to "Delete this person", @person, method: :delete, data: {turbo_confirm: 'Are you TOTALLY sure??' }, class: 'btn btn-danger d-inline-block' %>
    </div>
  <% end %>
</div>