<div class="row">
  <div class="col-12" id="<%= dom_id @person %>">
    <h1>
      <%= @person.first_name %>
      <%= @person.last_name %>
      <span class="h4 text-secondary"><%= @person.status&.name&.upcase %></span>
    </h1>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td><strong>Interests</strong></td>
          <td><%= @person.interests.map{|i| i.name}.join(', ') %></td>
        </tr>
        <tr>
          <td><strong>Groups</strong></td>
          <td><%= @person.groups.map{|g| link_to(g.name, group_path(g))}.join(', ').html_safe %></td>
        </tr>
        <tr>
          <td><strong>Notes</strong></td>
          <td><%= @person.notes %></td>
        </tr>
        <tr>
          <td><strong>Discord</strong></td>
          <td><%= @person.discord_id %></td>
        </tr>
        <tr>
          <td><strong>Referral</strong></td>
          <td><%= @person.referral&.name %></td>
        </tr>
        <tr>
          <td><strong>Astrobin</strong></td>
          <td>
            <% if @person.astrobin %>
              <%= link_to(@person.astrobin&.username, "https://www.astrobin.com/users/#{@person.astrobin&.username}", target: :_blank) %> <%= @person.astrobin&.latest_image ? "(#{@person.astrobin&.latest_image})" : '' %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 table-responsive">
      <h2>Memberships</h2>
      <table class="table">
        <tr>
          <th>Duration</th>
          <th>Term</th>
          <th>Ephemeris</th>
        </tr>
        <% @person.memberships.each do |membership| %>
          <tr>
            <td><%= date_format(membership.start) %> to <%= date_format(membership.start + membership.term_months.months) %></td>
            <td><%= membership.term_months %> months</td>
            <td><%= ephemeris_format membership.ephemeris %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-12 col-md-6 table-responsive">
      <h2>Donations</h2>
      <%= render partial: 'donations/index', locals: {donations: @person.donations} %>
    </div>
    <div class="col-12">
      <%= link_to "Edit this person", edit_person_path(@person) %> |
      <%= link_to "Back to people", people_path %>
      <%= button_to "Delete this person", @person, method: :delete, data: {confirm: 'Are you TOTALLY sure??'} %>
    </div>
  </div>