<% img = equipment&.images&.first ? url_for(equipment.images.first) : image_url('placeholder.svg') %>
<div class="card m-2 p-2" style="width: 18rem;">
  <%= link_to equipment, data: {turbo: false} do %>
    <img class="card-img-top" src="<%=img%>" alt="Equipment photo">
  <% end %>
  <div class="card-body">
    <hr/>
    <h5 class="card-title"><%=equipment&.instrument&.model%></h5>
    <p class="card-text">
      <%=equipment.note%>
    </p>
    <p>
      <%= link_to(equipment.person&.name, equipment.person) if(equipment.person) %>
      <%= link_to(equipment.group&.name, equipment.group) if(equipment.group) %>
    </p>
    <% if equipment.donation_summary %>
      <p><small class="text-muted"><%= equipment.donation_summary %></small></p>
    <% end %>
    <div class="d-flex flex-wrap">
      <% equipment&.tags.each do |tag| %>
        <%= render tag %>
      <% end %>
    </div>
  </div>
</div>