<%= form_with(model: equipment) do |form| %>
  <% if equipment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
        <% equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'equipment/show_images', locals: {images: equipment.images} %>
  <%= render partial: 'equipment/instrument_form', locals: {equipment: equipment, prefix: 'equipment[instrument_attributes]'} %>

  <div class="mt-4">
    <% people_selector = Person.all.map{|p| {display: p.name, value: p.id}}%>
    <%= form.label :person_id, 'Person Owner', class: 'form-label' %>
    <%= form.combobox :person_id, people_selector %>
    <%= link_to 'New Person', new_person_path, target: :_blank %>
  </div>

  <div class="mt-4">
    <% group_selector = Role.all.map{|p| {display: p.name, value: p.id}}%>
    <%= form.label :role_id, 'Group Owner', class: 'form-label' %>
    <%= form.combobox :role_id, group_selector %>
    <%= link_to 'New Group', new_role_path, target: :_blank %>
  </div>

  <div class="mt-4">
  <%= form.file_field :images, multiple: true, class: 'form-control' %>
  </div>

  <div class="mt-4">
    <%= form.label :note, 'Notes', class: 'form-label' %>
    <%= form.text_area :note, class: 'form-control' %>
  </div>

  <div class="mt-4">
    <%= form.submit 'Save Equipment', class: 'btn btn-primary'%>
  </div>
<% end %>
