<div id="<%= dom_id notification %>">
  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= notification.person_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= notification.admin_id %>
  </p>

  <p>
    <strong>Unread:</strong>
    <%= notification.unread %>
  </p>

</div>
