<%= form_with(model: group) do |form| %>
  <div class="row">
    <% if group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
        <ul>
          <% group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-md-6 col-xs-12 mt-2">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-md-6 col-xs-12 mt-2">
      <%= form.label :short_name, class: "form-label" %>
      <%= form.text_field :short_name, class: 'form-control' %>
    </div>
    <div class="col-md-6 col-xs-12 mt-2">
      <%= form.label :discord_id, class: "form-label" %>
      <%= form.text_field :discord_id, class: 'form-control' %>
    </div>
    <div class="col-md-6 col-xs-12 mt-2">
      <%= form.label :email, class: "form-label" %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
    <div class="col-md-6 col-xs-12 mt-2">
      <div class="form-check">
        <%= form.check_box :joinable, class: 'form-check-input' %>
        <%= form.label :joinable, "Members can join this group", class: "form-check-label" %>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 mt-2">
      <div class="form-check">
        <%= form.check_box :members_only, class: 'form-check-input' %>
        <%= form.label :members_only, "Sync only active members to Google Group", class: "form-check-label" %>
      </div>
    </div>
    <div class="col-12 mt-2">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
