<div class="row" id="<%= dom_id group %>">
  <div class="col-12">
    <h1><%= group&.name %> <small><%=group.short_name.present? ? '(' + group.short_name + ')' : ''%></small></h1>
    <%= render partial: 'layouts/object_table', locals: {obj: group} %>
    <h2>People</h2>
  </div>
  <div class="col-12">
    <%= form_with url: groups_add_person_path do |f| %>
      <div class="row">
        <div class="col-md-6 col-xs-12 mt-2">
          <%= f.hidden_field :id, value: group.id %>
          <%= f.combobox :person_id, Person.all.map{|p| [p.name, p.id]}, placeholder: 'Add Person' %>
        </div>
        <div class="col-md-6 col-xs-12 mt-2">
          <%= f.submit 'Add Person', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-12 table-responsive mt-4">
    <table class="table table-striped">
      <% group.people.each do |person| %>
        <tr>
          <td><%= link_to person&.name, person_path(person) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
