<div class="row">
  <div class="col-12">
    <h1>Groups</h1>
    <%= link_to "New group", new_group_path, class: 'btn btn-primary' %>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>People</th>
          <th>Email</th>
          <th>Discord</th>
        </tr>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to "#{group.name} (#{group.short_name})", group %>
            </td>
            <td>
              <% count = group.people.count %>
              <%= "#{count} #{'person'.pluralize(count)}" %>
            </td>
            <td>
              <%= group.email %>
            </td>
            <td>
              <%= group.discord_id %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
