<div id="<%= dom_id contact %>">
  <p>
    <strong>Address:</strong>
    <%= contact.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= contact.city_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= contact.state_id %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= contact.zipcode %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Primary:</strong>
    <%= contact.primary %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= contact.person_id %>
  </p>

</div>
