<div id="<%= dom_id donation %>">
  <p>
    <strong>Date:</strong>
    <%= donation.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= donation.value %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= donation.note %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= donation.person_id %>
  </p>

</div>
