<%= form_with(model: tag) do |form| %>
  <% if tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-4">
    <%= form.label :color, class: "form-label" %>
    <%= form.color_field :color, class: 'form-control', style: 'width: 50px; height: 35px;' %>
  </div>

  <div class="mb-4">
    <%= form.label :name, class: 'form-label' %>
    <small>An icon from the <%=link_to 'bootstrap-icon', 'https://icons.getbootstrap.com', target: :_blank %> set.</small>
    <%= form.text_field :icon, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'btn btn-primary mt-4' %>
  </div>
<% end %>
