<!DOCTYPE html>
<!--<html data-bs-theme="sjaa-dark">-->
<html>
  <head>
    <title>SjaaMembers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= combobox_style_tag %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SJAA Members</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if @user %>
              <% if @user.is_a?(Admin) %>
                <li class="nav-item">
                  <%= link_to 'People', people_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Roles', roles_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Donations', donations_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Equipment', equipment_index_path, class: 'nav-link' %>
                </li>
                <% if @user.has_permission? :permit %>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Permissions</a>
                  </li>
                <% end %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Google
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Google Auth', google_auth_path, class: 'dropdown-item' %></li>
                    <li><%= link_to 'Members Group', google_members_path, class: 'dropdown-item' %></li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Reports
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Renewal Reminders', renewal_reminders_path, class: 'dropdown-item' %></li>
                    <li><a class="dropdown-item" href="#">YTD Donations</a></li>
                    <li><%= link_to 'Ephemeris List', ephemeris_report_path, class: 'dropdown-item'%></li>
                  </ul>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to "Logout (#{@user.is_a?(Person) ? @user.name : @user.email})", logout_path, class: 'nav-link', data: { confirm: 'Log out?' } %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Login', login_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
          <!--
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          -->
        </div>
      </div>
    </nav>
    <div class="container-fluid mt-2" style="max-width: 1200px">
      <% {'warning' => notice, 'success' => flash[:success], 'danger' => flash[:alert]}.each do |style, msg| %>
        <% if msg %>
          <div class="alert alert-<%=style%> alert-dismissible fade show" role="alert">
            <%=msg.html_safe%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>

    <!--<div class="row bg-dark mt-4">
      <div class="col-12 p-4" style="height: 200px;">
      </div>
    </div>-->
  </body>
</html>
